.catego{
    position: relative;
    border: none;
    /* border-bottom-left-radius: 100px; */
    border-top: 25px var(--color-blue2) solid;
}
.catego h1{
    font-family: 'NunitoBlack';
    position: sticky;
    top: -15px;
    color: white;
    font-weight: bold;
    background-color: var(--color-blue2);
    width: max-content;
    margin: auto;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    left: 50%;
    transform: translate(-50%, 0);
}
.catego ul {
    padding-left: 0;
    list-style: none;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* يخلي الصور بالنص */
    gap: 20px; /* مسافة بين الصور */
  }
  
  .catego ul li {
    flex: 1 1 200px; /* أقل عرض 200px ويكبر حسب الشاشة */
    display: flex;
    justify-content: center;
  }
  
  .catego img {
    width: 100%;
    max-width: 350px; /* أكبر حجم ممكن للصورة */
    height: auto;     /* يحافظ على النسبة */
    object-fit: contain; /* يمنع التمدد */
  }
  
.catego ul li:nth-child(3){
    cursor: pointer;
}