.blogImage img{
    width: 100%;
}
.textBlog{
    border-radius: 10px;
    position: relative;
    background-color: white;
    padding: 10px;
    top: -50px;
    width: 90%;
    margin: auto;
}
.textBlog h3{
    font-family: 'NunitoBlack';

}
.textBlog p{
    font-family: 'NunitoSemiBold';

    font-weight: 600;
}
.blogSpan{
    font-size: 13px;
}
.blogSpan span{
    font-family: 'NunitoSemiBold';

    color: var(--color-blue2);
}