:root {
    --color-white: #ffffff;
    --color-blue: #99222a;
    --color-blue2:#12bfe9 ;
    --primary-color: #263684;
    --secondary-color: #6ed6ff;
    --accent-color: #4a90e2;
  }



  .left {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-10vw);
    transition: all 1.8s;
  }
  .hidden {
    opacity: 0;
    filter: blur(4px);
    transition: all 1.8s;
  }
  .right {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(10vw);
    transition: all 1.8s;
  }
  .top {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(30vw);
    transition: all 1.8s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  } 
  


@font-face {
    font-family: 'LittleBubble';
    src: url('./assets/Fonts/static/Nunito-ExtraBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoundedBlackRegular';
    src: url('./assets/Fonts/Rounds Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoBlack';
    src: url('./assets/Fonts/static/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: url('./assets/Fonts/static/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

