
.tab-switcher {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
}

.tab-btn {
  background: transparent;
  border: 2px solid #333;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.tab-btn.active {
  background: #13b1dd;
  color: white;
  border-color: #13b1dd;
  box-shadow: 0 0 15px rgba(1, 252, 248, 0.5);
}

.loading-state,
.no-products {
  text-align: center;
  padding: 4rem 2rem;
  font-size: 1.2rem;
  color: #aaa;
}

/* Responsive tabs */
@media (max-width: 768px) {
 
  .tab-switcher {
    justify-content: center;
  }
}